## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Unit]
Description=Secure Distribiuted Web Date
Documentation=https://www.whonix.org/wiki/Dev/TimeSync
ConditionPathExists=!/var/run/qubes/this-is-templatevm

After=network.target
Wants=network.target

After=rinetd.service
After=bootclockrandomization.service
After=tor.service

Conflicts=systemd-timesyncd.service

[Service]
Type=simple
User=sdwdate
Group=sdwdate
ExecStart=/usr/bin/sdwdate
SuccessExitStatus=143
KillMode=process
TimeoutSec=30
Restart=always

[Install]
WantedBy=multi-user.target
