## Copyright (C) 2012 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

Source: sdwdate
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@whonix.org>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13),
 dh-apparmor, dh-python, python3
Homepage: https://github.com/Whonix/sdwdate
Vcs-Browser: https://github.com/Whonix/sdwdate
Vcs-Git: https://github.com/Whonix/sdwdate.git
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: sdwdate
Architecture: all
Depends: sudo, bc, helper-scripts, adduser,
 gcc, libc6-dev, python3-stem, python3-dateutil,
 python3-socks, python3-sdnotify, python3-requests, python3, tor,
 ${python3:Depends}, ${misc:Depends}
Recommends: timesanitycheck, bootclockrandomization
Replaces: apparmor-profile-sdwdate
Description: Secure Distributed Network Time Synchronization
 Time keeping is crucial for security, privacy, and anonymity. Sdwdate is a Tor
 friendly replacement for rdate and ntpdate that sets the system's clock by
 communicating via onion encrypted TCP with Tor onion webservers.
 .
 At randomized intervals, sdwdate connects to a variety of webservers and
 extracts the time stamps from http headers (RFC 2616).
 Using sclockadj option, time is gradually adjusted preventing bigger clock
 jumps that could confuse logs, servers, Tor, i2p, etc.
 .
 This package contains the sdwdate time fetcher and daemon. No
 installation on remote servers required. To avoid conflicts, this daemon
 should not be enabled together with ntp or tlsdated.
