## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: sdwdate
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 8), faketime, git, ruby-ronn (>= 0.7.3)
Homepage: https://github.com/Whonix/sdwdate
Vcs-Browser: https://github.com/Whonix/sdwdate
Vcs-Git: https://github.com/Whonix/sdwdate.git
Standards-Version: 3.9.4

Package: sdwdate
Architecture: all
Depends: curl, ca-certificates, uuid-runtime, sudo, logrotate, bc, ruby,
 ${misc:Depends}
Recommends: vbox-disable-timesync, timesanitycheck, bootclockrandomization,
 timesync
Suggests: sdwdate-plugin-anon-shared-con-check,
 sdwdate-plugin-anon-shared-streamiso
Description: Secure Distributed Network Time Synchronization
 Time keeping is crucial for security, privacy, and anonymity. Sdwdate is a Tor
 friendly replacement for rdate and ntpdate that sets the system's clock by
 communicating via TCP with one or more HTTPS webservers.
 .
 At randomized intervals, sdwdate connects to a variety of webservers and
 extracts the time stamps from headers (RFC 2616). Using sclockadj option, time
 is gradually adjusted preventing bigger clock jumps that could confuse logs,
 servers, Tor, i2p, etc.
 .
 Plugins are supported via hooks. These hooks include pre-connect, pre-fetch,
 post-fetch, post-success, post-failure, and progress. Sdwdate comes without a
 GUI, but is available as a plugin called timesync.
 .
 This package contains the sdwdate time fetcher and daemon. There is no remote
 installation. To avoid conflicts, this daemon should be no be enabled together
 with ntp or tlsdated.
