## Copyright (C) 2012 - 2023 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

## similar file by package apparmor-profile-everything (AAE):
## /lib/systemd/system/sdwdate-aae.service

[Unit]
Description=Secure Distributed Web Date - Pre
Documentation=https://www.whonix.org/wiki/sdwdate
#ConditionPathExists=!/run/qubes/this-is-templatevm
ConditionPathExists=!/run/qubes-service/no-sdwdate

Before=sdwdate.service

[Service]
Type=notify
ExecStart=/usr/libexec/sdwdate/sdwdate-pre
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
